{% extends "admin/base.html" %}
{% load static %}

{% block title %}ETA Workspace{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}" class="eta-brand">
	<span class="eta-brand-mark">ETA</span>
	<span class="eta-brand-copy">
				<strong>ETA Workspace</strong>
				<small>Secure workspace access</small>
	</span>
</a>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'eta_admin.css' %}">
{% endblock %}
